.center {
  display:flex; 
  justify-content: center;
  align-items: center;
}
.background {
  background-image: url(./img/background.jpg)
}
.plus_cycle {
  margin-left: 27%;
}
.input-center{
  margin-left: 18%;
}