.center {
  display:flex; 
  justify-content: center;
  align-items: center;
}
.background {
  background-color: rgba(77, 67, 67, 0.384);
  
  
}
.plus_cycle {
  margin-left: 27%;
}
.input-center{
  margin-left: 18%;
}
.priceFont{

  font-size: larger;
  
}
.priceColor{
  color:red;
}
.inline{
  display:inline
}
.deletePos{
  position: relative;
  top: 27px; 
}
.addPos{
  position: relative;
  right: 15px; 
}
.submitPos{
  position: relative;
  left: 30%;  
}